* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: sans-serif;
  font-size: 16px;
  font-weight: 500;
  height: 100%;
}

li,
a,
button,
div.header {
  color: #fff;
  text-decoration: none;
}

header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 30px 10%;
  background-color: #448aff;
  height: 12%;
}

.header-logo a:hover {
  color: black;
  transition: all 0.3s ease 0s;
  cursor: pointer;
}

.nav_links {
  list-style: none;
}

.nav_links li {
  display: inline-block;
  padding: 8px 24px;
}

.nav_links li a {
  transition: all 0.3s ease 0s;
  padding: 10px 24px;
  border-radius: 12px;
}

.nav_links li a:hover {
  color: #452020f6;
  background-color: rgb(49, 167, 221);
}

button.sign-in,
.sign-up {
  width: 105px;
  padding: 8px 24px;
  border: none;
  border-radius: 5px;
  background-color: #3f51b5;
  cursor: pointer;
  transition: all 0.3s ease 0s;
  font-size: 16px;
}

button.sign-up:hover,
.sign-in:hover {
  background-color: rgb(49, 167, 221);
  color: black;
}

.background-img {
  background-image: url("files-img.jpg");
  height: 88%;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
}

@media only screen and (max-width: 1127px) {
  /* .nav_links {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    text-align: center;
  } */
  .nav_links li{
    display: flex;
    text-align: center;
    
  }

  .nav_links {
    display: flex;
  }
  header {
    line-height: 1.6;
  }

  .cta-btns {
    display: flex;
    gap: 10px;
  }
}

@media only screen and (max-width:920px) {

  header {
    height: 15%;
  }

  .background-img{
    height: calc(100% - 15%);
  }
  
}

@media only screen and (max-width: 784px) {

  .nav_links li a {
    display: inline-block;
    padding: 5px 0px;
  }

  header {
    padding: 10px;
  }

}



